* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #F5F5F5;
}

body {
    color: rgb(119, 119, 119);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding: 24px 0px;
}

.title {
    font-size: 100px;
    color: rgba(175, 47, 47, 0.2);
}

.time{
    display: flex;
    flex-direction: row;
}

.clock{
    text-align: center;
    font-size: 90px;
    padding-top: 6px;
    padding-right: 6px;
    color: rgba(175, 47, 47, 0.2);
}

.date {
    padding-top: 34px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(175, 47, 47, 0.2);
}

.year{
    font-size: 24px;
}

/* 
 *************** Menu ***************
 */

.menu {
    width: 600px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(119, 119, 119);
    padding: 12px 15px;
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    background: white;
    border-top: 1px solid #e6e6e6;
    box-shadow:
        0px 2px 4px 0px rgba(0, 0, 0, 0.2),
        0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

.menu a {
    color: rgb(119, 119, 119);
    display: inline;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    vertical-align: middle;
}

.menu a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.menu .selected {
    border-color: rgba(175, 47, 47, 0.3);
}

#clear-completed {
    visibility: hidden;
    align-content: flex-end;
    /* float: right; */
    /* position: relative; */
    color: rgb(119, 119, 119);
    text-decoration: none;
    cursor: pointer;
}

#clear-completed:hover {
    text-decoration: underline;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
}

/* 
 *************** Input ***************
 */

.input-container {
    margin: 36px 0px;
}

.input {
    width: 600px;
    height: 90px;
    display: flex;
    flex-direction: row;
    background: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
        0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

#toggle-all {
    width: 65px;
    height: 90px;
    display: inline-block;
    line-height: 80px;
    font-size: 25px;
    color: #E6E6E6;
    text-align: center;
    text-decoration: none;
    transform: rotate(90deg);
}

.input .all-checked{
    color: rgb(119, 119, 119)!important;
}

.input input {
    width: calc(100% - 240px);
    height: 100%;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 28px;
    color: rgb(119, 119, 119);
    text-align: start;
    padding: 16px 16px 16px 0px;
}

.input input::-webkit-input-placeholder {
    font-style: italic;
    color: #E6E6E6;
}

#new-date {
    width: 175px;
    height: 100%;
    display: inline-block;
    background: white;
    border: none;
    border-left: 1px solid #ededed;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 4px;
}

input[type="date"]::-webkit-datetime-edit { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* 
 *************** Todo ***************
 */

.todo-list-container {
    width: 600px;
    margin-bottom: 32px;
    box-shadow:
        0px 2px 4px 0px rgba(0, 0, 0, 0.2),
        0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

.todo-list {
    background: white;
    margin: 24px 0px;
}

.todo-date {
    height: 64px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 0px;
    border-bottom: 1px solid #ededed;
}

.todo-date.expired{
    background-color: rgba(0, 0, 0, 0.15);
}

.todo-date.urgent{
    background-color: rgba(175, 47, 47, 0.56);
}

.todo-date.adequate{
    background-color: rgba(47, 175, 47, 0.56);
}

.todo-content li {
    position: relative;
    border-bottom: 1px solid #ededed;
}

.todo-content {
    list-style: none;
}

.todo-content li:last-child {
    border-bottom: none;
}

.todo-item {
    width: 600px;
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
}

.toggle,
.delete {
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.todo-item .checked{
    content: url("../images/toggle-icon.png");
}

.todo-item .completed{
    text-decoration: line-through;
    color: #D9D9D9;
    transition: .2s;
}

.todo-item.dragging{
    background-color: #EDEDED;
}

.toggle>img {
    display: inline-block;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    opacity: 0.6;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.todo-detail {
    display: inline-block;
    font-size: 42px;
    padding-right: 64px;
    flex-grow: 1;
}

.delete>img {
    display: none;
    content: url("../images/delete-icon.png");
    width: 40px;
    height: 40px;
    vertical-align: middle;
    opacity: 0.2;
}

.delete>img:hover{
    opacity: 0.6;
}

.todo-item:hover .delete>img{
    display: inline-block;
}

.todo-list li.editing{
    border-bottom: none;
    padding: 0;
}

.todo-list li.editing .edit {
    display: block;
    width: 556px;
    height: 64px;
    font-size: 24px;
    color: rgb(119, 119, 119);
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 64px;
    outline-color: rgb(119, 119, 119);
}

.todo-list li.editing .toggle,
.todo-list li.editing .todo-detail,
.todo-list li.editing .delete{
    display: none;
}


